.form-generator {
	border: 1px solid black;
	width: 80%;
	margin: 12px;
	padding: 12px;
}

.tab {
  overflow: hidden;
	padding-left: 1px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid black;
	border-radius: 10px 10px 0 0;
  cursor: pointer;
  padding: 5px 42px;
  margin-left: -1px;
	margin-bottom: -1px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid black;
	margin-bottom: -1px;
}